
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm





webpack.config.js

main.js
textureShaders.js
src/render/svg/
src/skin.js
src/GltfUtils.js
src/Model.js

index.html


dist