
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm





webpack.config.js

main.js
textureShaders.js
src/render/svg/
src/components/skin.js
src/components/GltfUtils.js
src/components/Model.js
src/components/MeshRenderer.js
src/components/attribTypeProps.js
src/components/misc.js
index.html
lib

dist